* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: rgba(128, 128, 128, 0);
}

*::-moz-selection {
  background: rgba(128, 128, 128, 0);
}


* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root{
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  cursor:default;
}

body{
  background-color: rgb(241, 241, 255);
}

.MainContainer{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-direction: column;
  padding: 180px 30px 100px 30px;
  overflow-x: hidden;
}
.headingContainer{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.headingContainer h1{
  font-size: 4rem;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
.headingContainer img{
  height: 100px;
}
.FilterContainer{
  width:100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.category-button{
  width:120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
}

.ShoesContainer{
  width:100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  position: relative;
}
 
.ShoesCard{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 15px 20px 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.034);
}
.ShoesCard img{
  width: 100%;
  filter: brightness(0.95);
}
.description{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
  overflow: hidden;
}
.ShoesName{
  font-size: 1.9rem;
  color: black;
  font-weight: 500;
}

.ShoesPrice{
  color: rgb(0, 0, 0);
  font-size: 1.9rem;
  font-weight: 500; 
}
.ShoesCategory{
  padding: 0 10px;
  color:gray;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.AboutContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 170px 200px 100px 200px;
}
.AboutContainer h1{
  font-size: 5rem;
  font-weight: 700;
  color: black;
  text-transform: uppercase;

}
.AboutContainer p{
  font-size: 1.9rem;
  color: rgb(67, 67, 67);
  line-height: 30px;
  text-align: center;
}


/* responsive code below*/
@media screen and (max-width:1920px) {
  html {
      font-size: 60%;
  }
}

@media screen and (max-width:1300px) {
  html {
      font-size: 60%;
  }
 
}

@media screen and (max-width:1200px) {
  html {
      font-size: 60%;
  }
  .ShoesContainer{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
  
}

@media screen and (max-width:998px) {
  html {
      font-size: 55%;
  }
 
  .AboutContainer{
    height: fit-content;

  }
}

@media screen and (max-width:768px) {
  html {
      font-size: 50%;
  }
  .MainContainer{
    padding: 180px 20px 80px 20px;
  }
  .headingContainer img{
    height: 70px;
  }
  .ShoesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .ShoesCard{
    width: 100%;
    height: fit-content;
  }
  .description{
    padding: 10px 3px 5px 3px ;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }
  .ShoesCategory{
    padding: 0 3px;
  }
  .AboutContainer{
    padding: 120px 150px 100px 150px;
  }
  
}

@media screen and (max-width:650px) {
  .AboutContainer{
    padding: 120px 50px 200px 50px;
  }
}

@media screen and (max-width:500px) {
  html {
      font-size: 45%;  
  }
  .MainContainer{
    gap: 80px;
  }
  .category-button{
    font-size: 1.9rem;
  }
  .headingContainer h1{
    font-size: 3rem;
  }
  .AboutContainer{
    padding: 120px 30px 100px 30px;
  }
}

@media screen and (max-width:430px) {
  html {
      font-size: 43%;
  }
  .FilterContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
  }
  .category-button{
    width: 100%;
  }
  .ShoesName{
    font-weight: 600;
  }
 
}

@media screen and (max-width:375px) {
  html {
      font-size: 40%;
  }
  
  .description{
    justify-content: flex-start;
    height: 65px;
  }
}
@media screen and (max-width:320px) {
  html {
      font-size: 40%;
    }
    .description{
      justify-content: flex-start;
      height: 75px;
    }
}

/* responsive code above */